@CHARSET "UTF-8";

* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
body {
	background: #ddd;
}

div#chatroom {
	width: 600px;
	height: 500px;
	background: #bbb;
	margin: 2% auto;
	position: relative;
	padding: 5px;
}

input#mid {
	display: none;
}

div#showmessage {
	width: 440px;
	height: 340px;
	padding: 5px;
	background: #f7f7f7;
	overflow-y: auto;
	overflow-x: auto;
}

div#showmessage div.item {
	width: 100%;
	margin-bottom: 10px; 
}
div#showmessage div.item span.name {
	float: left;
	font-size: 13px;
	color: #777;
	margin-right: 10px;
}

div#showmessage div.item span.sendtime {
	font-size: 13px;
	color: #aaa;
}
div#showmessage div.item div.content {
	margin-top: 3px;
	font-size: 16px;
	color: #000;
}

div#sendbox {
	width: 600px;
	height: 145px;
	margin-top: 5px;
	position: relative;
}

div#sendbox textarea#sendmessage {
	font-size: 16px;
	line-height: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
	border: none;
	width: 590px;
	height: 95px;
	resize: none;
	background: #fff;
	
}

div#sendbox input#sendbutton {
	font-size: 15px;
	fon-weight: bold;
	color: #e7e7e7;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 120px;
	height: 35px;
	background: #929292;
	
}

div#sendbox label.setname {
	position: absolute;
	left: 160px;
	bottom: 0px;
	height: 35px;
	width: 65px;
	line-height: 35px;
	font-size: 12px;
	fon-weight: bold;
	color: #656565;
}

div#sendbox input#name {
	position: absolute;
	left: 230px;
	bottom: 5px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	fon-weight: bold;
	color: #111;
}

div#sendbox label.notice {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 200px;
	line-height: 15px;
	font-size: 12px;
	color: #ee1111;
	display: none;
}

div#sidebox {
	width: 135px;
	height: 340px;
	background: #aaaaaa;
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 5px;
	font-size: 16px;
	color: #333;
}

